// nesting carrusel
.carrusel {
    margin-top: 5rem;
    .carousel-inner {
        .carousel-item {
            img {
                height: 55vh;
                object-fit: cover;
                object-position: center;
                padding: 10px 0;
                
            }

        }

    }
}


