

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
    font-family: $monseFont;
    color: $letterColor;
}

h1, h2  {
    font-weight: $regular;
    padding: 15px 0;
}

p {
    font-size: $sub2Md;
}