
//Redes sociales / iframe//
.map {
    margin-top: 50px;
    padding: 25px 0;
}
.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    font-size: $sub1Sm;
    
    
    
        @media screen and (max-width: 800px) {
            
            flex-direction: column;
            text-align: center;
            font-size: $sub1Sm;
            
            }
    }
