@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0%;
  padding: 0%;
}

h1, h2, h3, h4 {
  color: #040404;
  text-align: center;
}

h1 {
  font-size: 2.2em;
  font-family: "Montserrat", sans-serif;
  margin: 20px 30px;
}

h2 {
  font-size: 1.8em;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

h3, p {
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 50px;
}

p {
  margin-left: 50px;
  margin-right: 50px;
}

.contenedor {
  width: 100%;
  margin: auto;
  padding: 2px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  background-color: #969998;
  font-size: 1.2em;
}
.contenedor .logo {
  width: 250px;
}

.campo {
  margin: 30px auto;
}

.carrusel {
  margin-top: 10rem;
}
.carrusel .carousel-inner .carousel-item img {
  height: 55vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  padding: 10px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.card-container .card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 15px;
}
.card-container .card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.card-container .card .face .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #151515;
}
.card-container .card .face .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-container .card .face .front img h3 {
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba 0, 0, 0, 0.4;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0, 5px, 10px #151515;
}
.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}
.card .back .link a {
  color: #f3f3f3;
}
.card .back .link a h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.card .back .link a h3 p {
  letter-spacing: 1px;
}

.card :hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card :hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.contenedor-form form .form-header .form-title {
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  color: #040404;
  text-align: center;
  padding: 14px 0;
}
.contenedor-form form .form-header .form-title span {
  color: #040404;
}

.contenedor-form form {
  background: #969998;
  width: 90%;
  max-width: 450px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}
.contenedor-form form .form-label {
  display: block;
  color: #040404;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.contenedor-form form .form-input, .form-textarea {
  background: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  border-bottom: 2px solid #abedf1;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: #26d190;
  font-family: "Montserrat", sans-serif;
}

.contenedor-form form .form-textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}

.contenedor-form form .btn-submit {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  outline: none;
  background: #abedf1;
  font-size: 16px;
  border: none;
  color: #040404;
  padding: 15px 0;
  cursor: pointer;
  transition: all 2s ease;
}

.contenedor-form form .btn-submit:hover {
  background: #26d190;
}

.map {
  margin-top: 50px;
  padding: 25px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  font-size: 0.8em;
}
@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    text-align: center;
    font-size: 0.8em;
  }
}/*# sourceMappingURL=style.css.map */